@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100&display=swap');

body{
    background-color: white;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    font-weight: 300;
    color:#333;
}

p{
    line-height: 28px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: cornflowerblue;
}
a:hover, a:focus{
    color: aquamarine;
    text-decoration: none;
    outline: 0  ;
}

.navbar-collapse{
    justify-content: flex-end;
}

.img-archive{
    background-image: url('../images/ivanov.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
    position: relative;
    max-width: 100%;
    height: 55vh;
}

.navbar{
    margin-left: 90px;
    margin-right: 90px;
    /*background: blue;*/
}

hr{
    margin: 20px;
}

p{
    margin-left: 100px;
}

p.main{
    font-size: 50px;
    color: white;
}

p.small{
    font-size: 20px;
    color: white;
}

p.big{
    font-size: 23px;
}

.my-carousel{
    padding: 0;
}

.my-carousel.carousel-item{
    display: flex;
    max-height: 500px;
}

.my-carousel.carousel-item img{
    object-fit: cover;
}


#scrollButton {
    display: none; /* Начально скрываем кнопку */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
